/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
/* change to 12 column grid concept for body element in desktop layout */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 98%;                    
    max-width: 960px;
    margin: 0 auto;
    border: 3px solid rgb(160, 118, 118);
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 17.5em 1fr 29em; 
	grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header header"
        "navi navi navi navi"
        "main main main sidebar"
        "footer footer footer footer";
	min-height: 60vh;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1em 0 .5em 0;
	border-bottom: 0.2em solid transparent;
	background-image: linear-gradient(
	    30deg, whitesmoke 0%, rgb(160, 118, 118) 30%, white 50%, rgb(160, 118, 118) 80%,white 100%);
    grid-area: header;
}
header h1 {
	font-size: 175%;
	color: greenyellow;
	animation: bounce 0.5s ease-in 0s 8;
}
/*add bounce animation for header EA FC 24*/
@keyframes bounce {
	from{
		padding-left: 10px;
		color:gold;
	}
	to{
		padding-left: 30px;
		color: green;

		}
	
}

header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 3.75%;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the navigation menu */
#nav_menu {
    grid-area: navi;
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    display: grid;
    grid-template: auto / repeat(5, 1fr);
    align-content: center;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color:tan;
    color: rgb(160, 118, 118);
    font-weight: bold;
}
#nav_menu a.current {
	color: blue;
}
/* the styles for the main content */
main {
    grid-area: main;
    display: grid;
	margin-left: 1em;
}

/* the styles for the section */
section {
	padding: 0 3.7% 20px 0;
	width: 100%;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;
    color: rgb(160, 118, 118);
}
section h2 {
	color: rgb(160, 118, 118);
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
	list-style-type: circle;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the article */
article {
	padding: .5em 0;
	border-top: 2px solid tan;
	border-bottom: 2px solid tan;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 40px;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
    color: rgb(160, 118, 118);
}
article img {
	float: right;
	width: 15%;
	border: 1px solid black;
}

/* the styles for the aside */
aside {
	width: 100%;
    grid-area: sidebar;
}
aside h2 {
	color: rgb(160, 118, 118);
	font-size: 150%;
	padding: .5em 0 .25em 0;
	padding-left: 1.4em;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
    width: 60%;
}
/*add animation: Transform and Transition*/
aside img:hover{
	transform: rotate(360deg);
	transition: 5s;
}
aside ul{
    padding-left: 2em;
}

/* the styles for the footer */
footer {
	background-color: tan;
    grid-area: footer;
}
footer p {
	text-align: center;
	color: rgb(160, 118, 118);
	padding: 1em 0;
}
#mobile_menu {
	display: none;
}

table{
    width: 95%;
    margin-right: 3%;
	
}
section h2{
    text-align: center;
    font-size: 2.2em;
}

thead{
    text-align: left;
}
th, td{
    text-align: left;
    vertical-align: top;
    padding-top: .15em;
    padding-bottom: .35em;
    padding-right: .15em;
    padding-left: 0;
}
thead th{
    color:maroon;
}

#right{
    text-align: right;
}
#image1{
	background-image: url("../images/fc242.webp");
	width: 100%;
	height: 312px;
	border: 1px solid black;
}
#image1:hover{
	background-image: url("../images/fc241.png");
	border: 1px solid black;
}

main button{
	width: 150px;
	font-size: 100%;
	margin-bottom: 20px;
}

#slides{
	display: none;
}
#slides img{
	width: 200px;
}
#slideShowImages img{
	width: 50%;
	margin-top: 2%;
	border: 2px solid black
}



/* screen widths 716px to 959px */
@media only screen and (max-width: 959px) {
	section h1 { font-size: 135%; }
	section h2, aside h2 { font-size: 120%; }
}

/* screen widths 480px to 715px */
@media only screen and (max-width: 715px) {

    body {
        grid-template: repeat(4, auto) / 1fr;
        grid-template-areas:
            "head"
            "navi"
            "main"
            "foot";
    }
	header img { float: none; }
	header {
        display: grid;
        grid-template: repeat(3, auto) / 1fr;
        grid-gap: .5em;
        text-align: center;
        padding: 1.5em 0 1.5em 0;
    }
    header img {
        justify-self: center;
    }
    main {
        grid-template: auto auto / 1fr;
        grid-template-areas:
            "sec"
            "side";
    }
	section {
        margin: 0 2.5%;
        padding-right: 0;
	}
	aside {
		padding-right: 2.5%;
        padding-left: 2.5%;
        grid-row: 2 / 3;
	}
	article img { max-width: 30%; }
	#speakers {
		column-count: 2;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
        grid-area: navi;
	}
	.slicknav_menu {
		background-color: #800000 !important;
	}
}

/* screen widths 479 and less */
@media only screen and (max-width: 479px) {
	body { font-size: 90%; }
}
